body { 
    background: url("https://images.unsplash.com/photo-1579636062013-c84be841e655?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80") no-repeat center center fixed;
    background-size: cover;
}

.navbar-brand {
    border: solid teal;
    background: teal;
    text-align: center;
    font-family: cursive;
    font-size: 2em;
    display: inline block;
}

.container {
    width: 960px;
    height: 420px;
    margin: 75px;
    margin-right: auto;
    margin-left: auto;
    border: solid wheat;
    background-color: wheat;
    /* opacity: 0.8; */
}

#content {
     font-family: cursive;
     color: black;
}

p {
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 0;
    text-align: justify;
    line-height: 1.5em;
    color: black;
    font-family: cursive;
}

#img{
    width: 25%;
	height: auto;
	float: left;
	margin-right:2rem; 
	border-radius: 50%;
	shape-outside:circle();
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 5%;
    margin-right: 5%;
    border-style: inset;
    border-width: 1px;
    border-color: teal;
}

.collapse navbar-collapse {
    float: right;
}
